#home(layout="column")
    banner(src='assets/mt-0792_main_bg-header.jpg')  
    div(layout="row" flex="100" layout-align="center center")
        caracteristicas
    banner(src='assets/mt-0792_main_bg.jpg' parallax="true" position="center bottom")
    div(layout="row" flex="100" layout-align="center center")
        escogenos
    div.components-team(layout="row" flex="100" layout-align="center center")
        team
    banner(src='assets/mt-0792_main_bg-2.jpg' parallax="true" position="none")