#toolbar-content(layout="row" layout-xs="column" layout-align-xs="start center")
    div#toolbar-left(flex="30" flex-xs="100")
        redes-sociales
    div(flex="70" flex-xs="100")
        informacion