#caracteristicas(layout="row" flex="100" layout-wrap layout-align="center start")
    -for (var x = 1; x < 4; x++)
        div(layout="row" flex="33" flex-sm="50" flex-xs="100" layout-align="center start")
            case x
                when 1
                    div(layout="column" layout-align="center center").caracteristicas
                        img(src="../../../assets/mt-0792_main_icon-1.png")
                        h3(translate="components.caracteristicas.online") Online Reputation Management
                        p(translate="components.caracteristicas.textonline") Reputation management refers to influencing and controlling an individual's or business's reputation.
                when 2
                    div(layout="column" layout-align="center center").caracteristicas
                        img(src="../../../assets/mt-0792_main_icon-2.png")
                        h3(translate="components.caracteristicas.optimizacion") Conversion Rate Optimization
                        p(translate="components.caracteristicas.textoptimizacion") It is a system for increasing the percentage of visitors to a website that can be converted into customers, or more generally, take any desired action on a webpage.
                when 3
                    div(layout="column" layout-align="center center").caracteristicas
                        img(src="../../../assets/mt-0792_main_icon-3.png")
                        h3(translate="components.caracteristicas.realtime") Real-Time Social Media Analytics
                        p(translate="components.caracteristicas.textrealtime") Understand social media engagement patterns across your Facebook, Twitter, LinkedIn, Pinterest, and Google+ accounts, and add insights from Google Analytics.