#banner
    ng-parallax( parallax='$ctrl.parallax' position="{{$ctrl.position}}" size="cover" pattern="$ctrl.src" layout="row" layout-align="center start")
        div.banner(layout="column" flex="45" flex-xs="90" layout-align="center center")
            ng-transclude