#toolbar-container
    md-sidenav.md-sidenav-left(md-component-id="left" ui-view="menumobile")
    div(md-colors="{background : 'default-primary-100'}" ui-view="toolbar")
    div(ui-view="menu")
    div(ui-view="content")