#menu(layout="row" layout-xs="column" layout-wrap)
    div(flex-xs="100" layout-align-xs="center center" layout-xs="row" ng-repeat="option in $ctrl.params.data")
        a.option(href="javascript:void(0)" hover="#EA6C71 {{$index === 0 ? '#EA6C71' : '#424343'}}") {{option}}